@charset "UTF-8";
ul, li {
	list-style-type: none;
	text-align: center
}

a {
	text-decoration: none;
	color: inherit; /* 링크의 색상 제거 */
}
.col-a:hover{
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}
.baby-product-link:hover .col-ex {
	color: #0073e9;
	text-decoration: underline;
	
}

.baby-product-link {
	display: block;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.shopping-menu-list li a:hover {
	text-decoration: none;
}

.banner-a {
	width: 100%;
	margin-bottom: 20px;
	
}

.banner-img {
	width: 100%;
	height: 400px;
}
.category-btn{
	width: 100px;
	height: 30px;
	margin: 5px 0px 0px 0px;
}
.category-box{
	width: 110px;
}
.category-head {
	height: 40px;
	background-color: #fafafa;
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF
}
.search-header-content{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
#categoryname{position: absolute; top: 0px; left: 110px;}

/* Show/hide the categories on hover */
.category-box:hover .categories {
	height: 300px;
	display: block;
}

.categories {
	width: 150px;
	display: none;
	position: absolute;
	border: 1px solid #ddd;
	background-color: #fff;
	z-index: 1;
}

.categories ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.categories li {
	padding: 8px 16px;
	position: relative;
}



/* Style for the subcategories */
.subcategories {
	width: 150px;
	height: 300px;
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.subcategories ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.subcategories li {
	padding: 8px 16px;
	position: relative;
}

/* Style for the subsubcategories */
.subsubcategories {
	width: 150px;
	height: 300px;
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.subsubcategories ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.subsubcategories li {
	padding: 8px 16px;
}

.categories li:hover,
.subcategories li:hover,
.subsubcategories li:hover {
	background-color:  hsla(0,0%,96%,.9)
}

.shopping-menu-list{
	padding: 8px 0 5px 0;
}
.li-list{
	padding: 10px 0 10px 0;
}

.c1 {
	width: 1200px;
	height: 100px;
}

.r1 {
	margin-top: 17px;
}

.r2 {
	margin-top: 12px;
}

.r3 {
	margin-top: 10px;
	width: 290px;
}

.row-radius {
	border-radius: 10%;
}

.col-name {
	width: 80px;
	height: 20px;
	padding-top: 5px;
}

.col-ex {
	height: 50px; /* 텍스트 영역의 높이를 지정합니다. */
	display: -webkit-box; /* Webkit 기반 브라우저에서 사용하는 flexbox 컨테이너로 설정합니다. */
	-webkit-line-clamp: 2; /* 텍스트를 2줄로 제한합니다. */
	-webkit-box-orient: vertical; /* 텍스트를 세로 방향으로 정렬합니다. */
	text-overflow: ellipsis;
	overflow: hidden; /* 텍스트를 넘치는 부분을 숨깁니다. */
}


.discount{
	color: red;
    font-size: 25px;
}
.col-mwon1 {
	width: 230px;
	height: 30px;
	font-size: 18px;
    margin-top: 8px;
    padding: 0px 0px 0px 10px;
}

.price{
	color: #999;
	font-size:12px;
    font-weight: 400;
}

.col-a {
	width: 306px;
	padding : 12px 12px;
	border-bottom: 1px solid #ddd;
}

.banner {
	width: 1200px;
	height: 350px;
	margin-bottom: 44px
}

.col-ca {
	width: 1224px;
	margin-bottom: 20px;
}

.Image {
	margin-bottom: 44px;
}

.img-rounded {

}

.col-review {
	width: 120px;
	height: 35px;
	margin-top: 20px;
	font-size: 15px;
}

.pagination {
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.jOhOoP>* {
	margin: 20px 5px 0px;
}

.current-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	padding-left: 12px;
	padding-right: 12px;
	height: 2.5rem;
	color: #FFFFFF;
	background: #FF6462;
	border: 1px solid rgb(221, 221, 221);
	ㅇ font-size: 0.875rem;
}

.previous-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	padding-left: 12px;
	padding-right: 12px;
	height: 2.5rem;
	border-radius: 4px;
	color: #FFFFFF;
	background: #FF6462;
	border: 1px solid rgb(221, 221, 221);
	ㅇ font-size: 0.875rem;
}

.next-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	padding-left: 12px;
	padding-right: 12px;
	height: 2.5rem;
	border-radius: 4px;
	color: #FFFFFF;
	background: #FF6462;
	border: 1px solid rgb(221, 221, 221);
	ㅇ font-size: 0.875rem;
}